body{
  height:90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10%;
  font-family: monospace,cursive;
  font-size: 1.5rem;
}

label{
  font-style: italic;
  color: grey;
}

#count-button{
  padding: 50px;
  position: absolute;
  right:0px;
  bottom:0px;
}

#count-button:hover{
  background-color:grey
}
#count-button:active{
  background-color:grey
}

@media (orientation:portrait){
  body{
    flex-direction: column;
  }
}